.field
    user-select: none
    background: #d6d6d6
    display: inline-block
    padding: 2px

    &_scroll
      overflow: scroll

    &_locked
        pointer-events: none

    &__wrapper
      position: relative
      overflow: hidden

    &__content
      position absolute
